<!DOCTYPE html>
<html lang="en" th:replace="~{base:: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
   <title>Add Contacts</title>
</head>
<body>
   <div id="content">

      <!-- sidebar: only if user is logged in -->
      <th:block th:if="${loggedInUser}">
         <section th:replace="~{user/sidebar::sidebar}"></section>
      </th:block>

      <!-- page content -->
      <div class="sm:pl-60 lg:pt-3 pt-9 sm:pt-16 justify-center flex flex-col items-center">
         <div class="grid grid-cols-12 w-full">
            <div class="md:col-span-2 lg:col-span-3"></div>

            <div class="md:col-span-8 lg:col-span-6 col-span-12">

               <div class="block w-full p-6 mt-2 bg-gray-100 border border-gray-200 rounded-2xl shadow-lg dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-700">

                  <!-- alert message -->
                  <div th:replace="~{alert:: alert}"></div>

                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white">Add New Contact</h5>

                  <p class="font-normal text-center text-gray-800 dark:text-gray-300">The contact will be stored on cloud</p>

                  <form method="post" class="mt-6 w-full" th:action="@{/user/contacts/process-contact}" th:object="${contactForm}" enctype="multipart/form-data" novalidate>
                     <!-- name input -->
                     <div class="mb-5">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input type="text" th:field="*{name}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter name" required>
                        <!-- validation -->
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-600 py-2 px-1"></p>
                     </div>
                     <!-- email input -->
                     <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" th:field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@email.com" required />
                        <!-- validation -->
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-600 py-2 px-1"></p>
                     </div>
                     <!-- phone input -->
                     <div class="mb-5">
                        <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                        <input type="tel" th:field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="(123)-456-7890" required>
                        <!-- validation -->
                        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-red-600 py-2 px-1"></p>
                     </div>
                     <!-- address input -->
                     <div class="mb-5">
                        <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                        <textarea th:field="*{address}" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter address"></textarea>
                     </div>
                     <!-- about input -->
                     <div class="mb-5">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                        <textarea th:field="*{description}" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write something..."></textarea>
                     </div>
                     <!-- social links -->
                     <div class="flex space-x-2 mb-5">
                        <div class="w-full">
                           <div class="mb-5">
                              <label for="socialLinks[0].link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Website</label>
                              <input type="url" th:field="*{socialLinks[0].link}" 
                                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                 placeholder="https://example.com">
                           </div>
                        </div>
                        <div class="w-full">
                           <div class="mb-5">
                              <label for="socialLinks[1].link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">LinkedIn</label>
                              <input type="url" th:field="*{socialLinks[1].link}" 
                                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                                 placeholder="https://linkedin.com/in/username">
                           </div>
                        </div>
                     </div>

                     <!-- profile picture -->
                     <div class="mb-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="picture">Upload Profile Picture</label>
                        <input th:field="*{picture}" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file">

                        <img class="max-h-52 rounded-lg shadow mx-auto mt-3" src="" id="upload_image_preview" alt="">
                     </div>

                     <!-- add to favourites -->
                     <div class="flex items-center mb-5">
                        <input th:field="*{favorite}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="favorite" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Add to Favourite</label>
                     </div>

                     <!-- submit button -->
                     <div class="mb-2 text-center">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Contact</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="md:col-span-2 lg:col-span-3"></div>
         </div>
      </div>
   </div>
   <script th:src="@{/js/admin.js}"></script>
</body>
</html>