<!DOCTYPE html>
<html lang="en" th:replace="~{base:: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
   <title>All Contacts</title>
</head>
<body>
   <div id="content">

      <!-- sidebar: only if user is logged in -->
      <th:block th:if="${loggedInUser}">
         <section th:replace="~{user/sidebar::sidebar}"></section>
      </th:block>

      <!-- page content -->
      <div class="sm:pl-64 lg:pt-3 pt-9 sm:pt-16 justify-center flex flex-col items-center">

         <h1 class="font-bold text-2xl">All Your Contacts</h1>
         <p>List of your contacts...</p>

         <!-- alert message -->
         <div th:replace="~{alert:: alert}"></div>

         <!-- table -->
         <div class="contact_container p-6 mt-3 w-full">

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

               <form th:action="@{/user/contacts/search}" th:object="${contactSearchForm}">

                  <div class="flex p-5 items-center justify-start space-x-3 flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-slate-200 dark:bg-zinc-950">
                  
                     <!-- select box -->
   
                     <div>
                        <form class="max-w-sm mx-auto">
                           <select th:field="*{field}" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                           <option selected value="">Select field</option>
                           <option value="name">Name</option>
                           <option value="phoneNumber">Phone Number</option>
                           <option value="email">Email</option>
                           </select>
                        </form>
                     </div>
   
                     <label for="table-search" class="sr-only">Search</label>
                     <div class="relative">
                        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                              </svg>
                        </div>
                        <input th:field="*{keyword}" type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                     </div>
                     <button type="submit" class="dark:bg-gray-700 dark:text-white dark:border-gray-600 bg-gray-50 text-gray-900 border-gray-400 px-3 py-2 rounded-lg">Search</button>
                  </div>
               </form>

               <table th:if="${!pageContacts.isEmpty}" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-300">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-900 dark:text-gray-300">
                     <tr>
                           <th scope="col" class="px-6 py-3">
                              Name
                           </th>
                           <th scope="col" class="px-6 py-3">
                              Phone Number
                           </th>
                           <th scope="col" class="px-6 py-3">
                              Social Links
                           </th>
                           <th scope="col" class="px-6 py-3">
                              Action
                           </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="contact : ${pageContacts}" class="bg-white border-b dark:bg-gray-700 dark:border-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600">
                           <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                              <img class="w-10 h-10 rounded-full" th:src="@{${contact.picture}}" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg'">
                              <div class="ps-3">
                                 <div class="text-base font-semibold" th:text="${contact.name}">Neil Sims</div>
                                 <div class="font-normal text-gray-400" th:text="${contact.email}">neil.sims@flowbite.com</div>
                              </div>  
                           </th>
                           <td class="px-6 py-4">
                              <i class="fa-solid fa-phone h-5 w-5"></i>
                              <span th:text="${contact.phoneNumber}"></span>
                           </td>
                           <td class="px-6 py-4">
                              <div class="flex items-center">
                                 <div th:if="${contact.favorite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                 <a th:href="@{${contact.socialLinks[0].link}}" target="_blank"><i class="fa-solid fa-earth-americas w-6 h-6"></i></a>
                                 <a th:href="@{${contact.socialLinks[1].link}}" target="_blank"><i class="fa-brands fa-linkedin w-6 h-6"></i></a>
                              </div>
                           </td>
                           <td class="px-6 py-4">
                              <div>
                                 <!-- <a th:href="@{'/user/contacts/delete/'+${contact.id}}"><i class="fa-solid fa-trash w-6 h-6"></i></a> -->
                                 <button th:onclick="deleteContact([[${contact.id}]])"><i class="fa-solid fa-trash w-6 h-6"></i></button>
                                 <a th:href="@{'/user/contacts/update/'+${contact.id}}"><i class="fa-solid fa-pen w-6 h-6"></i></a>
                                 <button th:onclick="loadContactData([[${contact.id}]])"><i class="fa-solid fa-eye w-6 h-6"></i></button>
                              </div>
                           </td>
                     </tr>
                  </tbody>
               </table>
               <!-- pagination -->
               <div th:if="${!pageContacts.isEmpty}" class="pagination_container p-5 text-center justify-center flex text-gray-700 bg-gray-100 dark:bg-gray-900 dark:text-gray-300">
                  <nav aria-label="Page navigation example">
                     <ul class="flex items-center -space-x-px h-10 text-base">
                        <li th:if="${!pageContacts.isFirst}">
                           <a th:href="@{'/user/contacts/?size='+${pageSize}+'&page='+${pageContacts.number-1}}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                           <span class="sr-only">Previous</span>
                           <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                           </svg>
                           </a>
                        </li>
                        <li th:each="index : ${#numbers.sequence( 0, pageContacts.totalPages - 1)}">
                           <a th:href="@{'/user/contacts/?size='+${pageSize}+'&page='+${index}}"
                           th:class="${index == pageContacts.number ?'z-10 flex items-center justify-center px-4 h-10 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'}">
                              <span th:text="${index + 1}"></span>
                           </a>
                        </li>
                        <li th:if="${!pageContacts.isLast}">
                           <a th:href="@{'/user/contacts/?size='+${pageSize}+'&page='+${pageContacts.number+1}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                           <span class="sr-only">Next</span>
                           <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                           </svg>
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
               <h1 th:if="${pageContacts.isEmpty}" class="font-bold text-2xl text-center mt-5 mb-5">No contacts found</h1>
            </div>

         </div>

         <div th:replace="~{user/contact_modal:: contact}"></div>

      </div>

   </div>
   <script th:src="@{/js/contact.js}"></script>
</body>
</html>