<!DOCTYPE html>
<html lang="en" th:replace="~{base:: parent(~{::#content}, ~{::title}, ~{})}">
<head>
   <title data-th-text="${loggedInUser.name} + '|Dashboard'">Dashboard</title>
</head>
<body>
   <div id="content">

      <!-- sidebar: only if user is logged in -->
      <th:block th:if="${loggedInUser}">
         <section th:replace="~{user/sidebar::sidebar}"></section>
      </th:block>

      <!-- page content -->
      <div class="sm:pl-64 lg:pt-3 pt-9 sm:pt-16 justify-center flex flex-col items-center">
         <h1 class="font-bold text-2xl">Welcome to Dashboard Page</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, temporibus?</p>
      </div>
   </div>
</body>
</html>