<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script)" class="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">SCM</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="dark:bg-slate-800 dark:text-white">

    <!-- common header -->
    <section th:replace="~{navbar:: navbar}"></section>

    <!-- Page Content -->
    <div class="p-9 mt-10 h-screen w-full">
        <section th:replace="${content}"></section>
    </div>

    <!-- common footer -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <th:block th:replace="${script}"></th:block>
</body>
</html>