<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Home Page</h1>
        <h2 data-th-text="${Name}"></h2>
        <a data-th-href="${githubRepo}">Click here to open repo</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, amet non at deserunt rem necessitatibus temporibus quos commodi pariatur! Nisi qui quo consequatur ipsam, et ipsum deserunt beatae ipsa accusamus.</p>
    </div>
</body>
</html>